
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,400&display=swap');


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*---Top Heading Section */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 125px;
    background-color: #FF8AAE;
    color: white;
}

.header h3 {
    font-size: 14px;
    font-weight: 500;
    margin-left: 20px;   

}

.header-links {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 20px;
}

/*Heading - Section One */
.section-one {
    background-color: #FF8AAE;
    display: flex;
    justify-content: space-between;
    padding: 50px 125px 90px 125px;
    color: white;
    gap: 50px;
}

.left-side,
.section-one-image {
    width: 325px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-one .image {
    width: 325px;
    border-radius: 15px;
}

.h1-title {
    margin: 0;
}

.subtitle {
    font-size: 12.5px;
    font-weight: 300;

    padding-right: 10px;
}

.left-side button {  
    background-color: #FF7f11;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 12px;
    width: 50%;
}

/*Body - Section two*/
.section-two {
    padding: 70px 0px;
    color: #65C18C;
}

.section-two h2 {
    font-weight: 800;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #65C18C;
    padding-bottom: 50px; 
}

.card img {
    width: 200px;
}

.boxes {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    

}

.card p {
    font-size: 16px;
    padding: 0 20px;
    /* color: #3a7452; */

}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid rgb(75, 148, 177);
    margin: auto;
    border-radius: 10px;
}

/*Body - Section three*/
.section-three {
    padding: 10px 180px 100px 180px;
    /* background-color: #65C18C; */
    background-color: #FFEC51;
}

.section-three .quote {
    padding: 50px 30px 0px 30px;
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
    /* color: #D9F7FA; */
    color: #3a7452;
}

.section-three .author {
    text-align: end;
    padding-right: 60px;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: #3a7452
}

/*Body - Section four*/
.section-four {
    background-color: #D9F7FA;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.section-four .box {
    background-color: #65C18C;
    border: none;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.button-end {  
    background-color: #FF7F11;
    border-radius: 12px;
    color: white;
    border: 1px solid #D9F7FA;
    padding: 5px 15px;
    font-size: 12px;
  }

.box .text {
  padding: 10px 20px;
  color: #D9F7FA;

}

.text h4,
.text p {
    margin: 0;
    font-size: 14px;
}


/* Footer */
.footer {
    background-color: #FF8AAE;
    color: white;
    text-align: center;
    margin: 0;

}

.footer p {
    padding: 20px;
    margin: 0;
    font-size: 12px;
}